/* mulish-regular - latin */
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	src: local(''),
						url('./Assets/font/mulish-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
						url('./Assets/font/mulish-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-300 - latin */
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 300;
	src: local(''),
						url('./Assets/font/mulish-v7-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
						url('./Assets/font/mulish-v7-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-700 - latin */
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700;
	src: local(''),
						url('./Assets/font/mulish-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
						url('./Assets/font/mulish-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	height: 100%;
	font-family: 'Mulish';
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

// #root {
// 	height: 100%;
// 	display: flex;
// 	flex-direction: column;
// }

img {
	max-width: 100%;
	height: auto;
}

main {
	flex-grow: 1;
}

main.light {
	color: dimgray;
	background-color: white;
}

.container{
	width: 100%;
	max-width: 1420px;
	margin: 0 auto;
	padding: 0 20px;
}
